*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  align-items: end;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  border: solid #FFFFFF;
  border-width: 1px 0px 1px 0px;
  padding: 2.5px 10px 2.5px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: #1b1919;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin: 1.5px 5px 1.5px 0;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
}
 
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.more-button:hover, .search-form__submit-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-button:active, .search-form__submit-button:active {
  background-color: #545050;
}

.more-button:focus, .search-form__submit-button:focus {
  outline: none;
}

.more-button:focus-visible, .search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.content__list-item {
  padding: 0 3px 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline #fff;
  text-underline-offset: 5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  padding-bottom: 6px;
  overflow: hidden;
  color: #FFFFFF;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 195px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background-color: #545050;
}
